/* app-header{
    padding: 100px 25px 25px 10px;
} */
router-outlet{
    /* padding: 100px 25px 25px 10px; */
    padding-right: 25px;
    /* background-image:url('assets/images/bg1.gif');    */
}
/* app-footer{
    padding: 100px 25px 25px 10px;
} */