.table-success{
    background-color: rgb(19, 226, 19);
}
.table-danger{
    background-color: rgb(240, 9, 9);
}
.table-warning{
    background-color: rgb(208, 255, 0);
}
.table-dark{
    background-color: grey;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
    height:40px;
    padding: 10px;
    /* border-radius: 100px; */
    background-color: #cdbeee;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
  }
  thead{
    color: skyblue;
  }